- title_str       = "#{@npa}-#{@nxx} Owner and Info Reverse Lookup Search"
- desc_str        = "Result for #{title_str} number owner information and reverse lookup search"
- keywords_str    = "#{@npa}-#{@nxx}, reverse lookup, owner, caller"
- page_title title_str
- page_meta_title title_str
- page_meta_description desc_str
- meta_tags do
  = meta_tag('keywords', keywords_str)

%div.hero-unit.ac{itemscope: true, itemtype: 'http://data-vocabulary.org/Review'}
  %h2{itemprop: 'itemreviewed'}
    Phone Numbers in #{@npa}-#{@nxx}
  %p{itemprop: 'summary'}
    Select the phone number as reviewed by <span itemprop='reviewer'>NumberNote</span> below for reverse owner lookup search info.
    Rated <span itemprop='rating'>4.#{@npa[-2].to_i/2}</span>.

%ul.nav.nav-pills{itemprop: 'description'}
  - @lines.each do |line|
    -number = "#{@npa}#{@nxx}#{line}"
    %li=link_to "#{@npa}-#{@nxx}-#{line}", phonenumber_path(number)

.ac
  =page_entries_info @lines
  =paginate @lines
