- readable_number = "#{@phone_number.npa}-#{@phone_number.nxx}-#{@phone_number.line}"
- title_str       = "#{readable_number} Info and Owner Reverse Lookup Search | Number Note"
- desc_str        = "Result for #{readable_number} number owner information and reverse lookup search"
- keywords_str    = "#{readable_number}, #{@phone_number.number}, reverse lookup, owner, caller"
- page_title title_str
- page_meta_title title_str
- page_meta_description desc_str
- meta_tags do
  = meta_tag('keywords', keywords_str)

.hero-unit
  .container
    %h1.ac
      = readable_number
    %p.ac
      All available information on #{readable_number} below!

this is a number:
